<!DOCTYPE html>
<html>
	<head>
		<title> REGISTRATION PAGE  </title>
		<style>
			body{
				text-align:center;
			}
		</style>
	</head>
	<body>
		<h1>REGISTER HERE</h1>
		<form action="/auth/register" method="POST">
			<input name="user" placeholder="username" type="text">
			<input name="email" placeholder="email" type="text">
			<input name="pass" placeholder="password" type="password">
			<input name="isadmin" placeholder="isadmin(Y/N)" type="text">
			<button type="submit">submit</button>
		</form>

	</body>
</html>
